<app-top-bar
  (addNote)="onAddNote()"
  (search)="onSearch($event)">
</app-top-bar>

<div class="main-container">
  <div class="notes-container">
    <div *ngFor="let note of filteredNotes;index as i" (click)="openNote(i);"> 
      <app-note-list-item
        [note]='note'>
      </app-note-list-item>
    </div>
  </div>

  <div class="input-container">
    <textarea *ngIf="currentNote" (keyup)="saveAndReparse($event);" [value]="currentNote.body">
    </textarea>
  </div>

  <div *ngIf="currentNoteParsed" class="preview-container" [innerHTML]="currentNoteParsed"></div>
</div>

<router-outlet></router-outlet>
