<app-top-bar></app-top-bar>

<div class="main-container">
  <div class="notes-container">
    <div *ngFor="let note of notes;index as noteId" (click)="openNote(noteId);"> 
      <app-note-list-item
        [note]='note'>
      </app-note-list-item>
    </div>
  </div>

  <div class="input-container">
    <textarea (keyup)="saveAndReparse($event);">
      {{chosenNote && chosenNote.body}}
    </textarea>
  </div>

  <div *ngIf="!!chosenNote" class="preview-container" [innerHTML]="chosenNote.parsedBody"></div>
</div>

<router-outlet></router-outlet>
